body{
    height: 100%;
    width: 100%;
}

.for1{
    padding-left: 40%;
    color: black;
    font-family: monospace;
}

input{
    font-size: 100%;
    font-family: serif;
}

.wrapper2{
    width: 570px;
    height: 400px;
    margin: 10% auto ;
    text-align: center;
    font-size: 20px;
    font-family:cursive;
    color: black ;
    background-color: whitesmoke;
    border-radius: 5%;
    opacity: 70%;
}

#title1{
    font-size: 200%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: fantasy;
}

#bord1{
    border-radius: 5%;
    border-width: 10%;
}

.pad{
    padding-left: 9%;
}